.header__logo {
  width: 142px;
  height: 33px;
  background-image: url(../../../images/Vector.png);
  margin-bottom: 40px;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-left: 9px;
    margin-bottom: 32px;
  }
}