.profile__title {
  max-width: 294px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .profile__title {
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  margin: 0;
  }
}