.profile__text {
  max-width: 294px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 16px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 680px) {
  .profile__text {
    text-align: center;
    margin: 14px 0 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}