.footer__text {
  margin: 67px auto 60px auto;
  max-width: 880px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 600px) {
  .footer__text {
    font-size: 14px;
    line-height: 17px;
    margin: 48px auto 36px auto;
  }
}
