.profile__avatar {
  width: 120px;
  height: 120px;
  display: block;
  background-image: url(../../../images/image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 60px;
}