.profile__info {
  max-width: 336px;
  position: relative;
 }

 @media screen and (max-width: 680px) {
  .profile__info {
    align-self: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    max-width: 282px;
  }
}